@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

#gallery-button{
    background: rgb(26, 17, 17);
    color: rgb(201, 201, 201);
}
#gallery-button:hover{
    background: rgb(201, 201, 201);
    color: rgb(0, 0, 0);
}
footer{
    top: 1770px;
}
#header-h1{
    color: rgb(0, 0, 0);
} 
button:hover,#home-button:hover{
    background: rgb(0, 0, 0);
    color:  rgb(201, 201, 201);
} 
button,#home-button{
    background: rgb(134, 134, 134);
    color:  rgb(0, 0, 0);
}
.grid{
    font-family: 'Staatliches', cursive;
    top: 50px;
    position: absolute;
    width: 100%;
}
.grid h3{
    margin-top: 30px;
}
.grid h3,.grid p{
    margin-left: 30px;
}
.grid img{
    margin-top: 15px;
    height: 300px;
    width: 300px;
    background: black;
    margin-bottom: 30px;
}
.col-dark{
    margin-top: 15px;
    width: 60%;
    color: rgb(234, 234, 238);
    background: rgb(0, 0, 0);
    position: absolute;
    left: 300px;
    height: 300px;
    margin-left: 15px;
    margin-bottom: 30px;
}
#reg-menu{
    background: rgb(134, 134, 134);
}
html{
    background: rgb(0, 0, 0);
}
#sales-img{
    height: 200px;
    width: 200px;
    margin-bottom: 100px;
}
.sales-col h3{
    margin-top: 50px;
}
.sales-col h3,.sales-col p{
    margin-left: 35px;
}
.f-size-2{
    font-size: 2em;
}
.f-size-1{
    font-size: 1.5em;
    color: rgb(255, 14, 14);
}
.f-size-3{
    font-size: 1.2em;
    color: rgb(109, 106, 106);
}
@media only screen and (max-width: 757px){
    .grid img{
        height: 200px;
        width: 200px;
    }
    .col-dark{
        left: 200px;
        height: 200px;
        margin-left: 15px;
        width: 48%;
        font-size: 0.9em;
    }
    footer{
        top: 1250px;
    }
    #sales-img{
        height: 200px;
        width: 200px;
        margin-bottom: 10px;
    }
    .grid h3,.grid p{
        margin-left: 0px;
    }
}


@media only screen and (max-width: 420px){
    .grid img{
        height: 170px;
        width: 170px;
        margin-bottom: 30px;
    }
    .col-dark{
        left: 170px;
        height: 170px;
        font-size: 0.8em;
        margin-bottom: 30px;
    }
    footer{
        top: 1100px;
    }
    #sales-img{
        height: 170px;
        width: 170px;
    }
} 
