@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

hr{
    margin-right: 2em;
    width: 1.5em;
    position: relative;
    top: 0.3em;
}
#dropdown-menu{
    border-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-top: 20px;
    width: 100%;
    height: 200px;
    display: none;
    color: white;
    font-family: 'Amatic SC', cursive;
}
#dropdown-menu button{
        position: absolute;
        left: 0;
        width: 100%;
        border: none;
}
#git-drbutton{
    margin-top: 50px;
}
#contact-drbutton{
    margin-top: 100px;
}
#gallery-drbutton{
    margin-top: 150px;
}
#hamburger-menu:hover #dropdown-menu{
display: block;
}
#hamburger-menu{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background: white;
    width: 100%;
    height: 50px;
    text-align: right;
    position: fixed;
    display: none;
    z-index: 1;
}
@media only screen and (max-width: 375px){
    #hamburger-menu{
        display: block;
    }
    #first-div{
        display: none;
    }
    #main-div h1{
        margin-top: 184px;
    }
}
@media only screen and (max-width: 757px){
    #main-div{
        font-size: 0.7em;
    }
}
#hamburger-button{
    height: 2em;
    widows: 2em;
    background: black;
    color: black;
}
#first-div{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background: white;
    width: 100%;
    height: 49px;
    position: fixed;
    z-index: 2;
}
body{
    margin: 0;
    padding: 0;
}
button{
    position: absolute;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
    background: white;
    width: 6em;
    height: 50px; 
    cursor: pointer;
    font-family: 'Amatic SC', cursive; 
    font-weight: bold;
    font-size: 1.2em;
    transition-duration: 0.4s;
}
button::-moz-focus-inner{
    border:0;
}
a{
    outline: 0;
}
button:hover{
    background: rgb(66, 70, 129);
    color: white;
    border-bottom-color: rgb(159, 139, 247);
    border-bottom-width: 1px;
}
#contact-button{
    left: 12em;    
}
#gallery-button{
    left: 18em;
}
#git-button{
    left: 6em;
}
#home-button{
    left: 0em;
    color: white;
    background: green;
}
#home-button:hover{
    background: rgb(2, 66, 2);
    border-bottom-color: rgb(31, 196, 16);
}
#main-div{
    position: relative;
    height: 900px;
    top: 50px;
    background-size: cover;
    background-image: url(media/lu-chiachen-A58q9gc_M9Q-unsplash.jpg);
    margin: 0;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 375px){
    #main-div{
        background-size: contain;
    }
}
#main-div h1{
    position: absolute;
    top: 7%;
    margin-left: 1.5vw;
}
footer{
    position: relative;
    background: black;
    width: 100%;
    height: 100px;
    top: 0px;
    color: rgba(255, 255, 255, 0.795);
}
footer,a,p{
    font-size: 0.9em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.253);
    font-family: sans-serif;
}
#footer-hr{
    border: none;
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.253);
    position: relative;
    top: 70px;
}
#footer-contact-info{
    position: relative;
    margin-left: 50em;
    top: 62px;
}
#footer-email{
    position: relative;
    margin-left: 2em;
    top: 32px;
}
@media only screen and (max-width: 375px){
    footer{
        font-size: 0.7em;
    }
    #footer-contact-info{
        position: relative;
        margin-left: 25em;
        top: 63px;
        
    }
    #footer-email{
        position: relative;
        margin-left: 1em;
        top: 40px;
    }
}

