@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

.contact-link{
    font-size: 0.5em;
}
#hamburger-logo{
    position: absolute;
    top: 1.5px;
    width: 3em;
    left: 5%;
}
.hamburger-link{
    position: absolute;
    margin: 0;
    width: 100%;        
    height: 50px;
}
#references{
    background: white;
    height: 200px;
    width: 100%;
    position: absolute;
    top: 1500px;
    font-size: 0.8em;
}
#reference-one{
    text-align: center;
    position: absolute;
    width: 20%;
    margin-left: 10%;
}
#reference-two{
    text-align: center;
    position: absolute;
    width: 20%;
    margin-left: 40%;
}
#reference-three{
    text-align: center;
    position: absolute;
    width: 20%;
    margin-left: 70%;
}
#reference-one,#reference-two,#reference-three{
    margin-top: 25px;
}
.index-text1{
    text-align: center;
    position: absolute;
    margin-top: 580px;
    margin-left: 10%;
    width: 30%;
    color: rgb(134, 134, 23);
    text-shadow: 2px 2px 4px #000000;
    
}
.index-text1 img,.index-text2 img{
    box-shadow: 2px 2px 4px rgb(17, 17, 17);
    margin-top: 15px;
    width: 100%;
}
.index-text2{
    text-align: center;
    position: absolute;
    margin-top: 580px;
    margin-left: 60%;
    width: 30%;
    color: rgb(134, 134, 23);
    text-shadow: 2px 2px 4px #000000;
}

.index-text1 p{
    color: rgb(194, 194, 165);
    text-shadow: none;
}
.index-text2 p{
    color: rgb(194, 194, 165);
    text-shadow: none;
}
#vl{
    position: absolute;
    border-left: 4px solid white;
    height: 280px;
    width: 0;
    top: 650px;
    margin-left: 50%;
}
#header-h1{
    letter-spacing: 4px;
    position: absolute;
    font-size: 1.8em;
    margin: 0;
    margin-left: 47%;
    margin-top: 5px;
    color: rgb(134, 134, 23);
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Righteous', cursive;
}
#planet-logo{
    position: absolute;
    width: 2.8em;
    margin-left: 90%;
    margin-top: 3px;
}
hr{
    margin-right: 2em;
    width: 1.5em;
    position: relative;
    top: 0.3em;
}
html{
    background: rgb(32, 31, 31);
}
#main-content{
    text-align: center;
    position: absolute;
    background-image: url(media/Planet-X.jpg);
    width: 100%;
    height: 500px;
    top: 50px;
    margin-bottom: 0;
    z-index: 2;
    font-family: 'Exo', sans-serif;
    color: rgb(134, 134, 23);
}
#main-content h1{
    margin-top: 60px;
}
#dropdown-menu{
    position: absolute;
    border-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    top: 50px;
    width: 100%;
    height: 200px;
    display: none;
    color: white;
    font-family: 'Amatic SC', cursive;
}
#dropdown-menu button{
    position: absolute;
    left: 0;
    width: 100%;
    border: none;
}
#git-drbutton{
    margin-top: 50px;
}
#contact-drbutton{
    margin-top: 100px;
}
#gallery-drbutton{
    margin-top: 150px;
}
#hamburger-menu:hover #dropdown-menu{
    display: block;
}
#hamburger-menu{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background: white;
    width: 100%;
    height: 50px;
    text-align: right;
    position: fixed;
    display: none;
    z-index: 3;
}
#reg-menu{
    background: rgb(54, 53, 53);
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 3;
}
body{
    margin: 0;
    padding: 0;
}
button{
    position: absolute;
    border-style: none;
    background: rgb(54, 53, 53);
    color:  rgb(134, 134, 23);
    width: 6em;
    height: 50px; 
    cursor: pointer;
    font-family: 'Amatic SC', cursive; 
    font-weight: bold;
    font-size: 1.2em;
    transition-duration: 0.4s;
}
button:focus{
    outline: none;
}
button::-moz-focus-inner{
    border:0;
}
a{
    outline: 0;
}
button:hover{
    background: rgb(31, 31, 31);
    color: rgb(255, 255, 119);
}
#contact-button{
    left: 12em;    
}
#gallery-button{
    left: 18em;
}
#git-button{
    left: 6em;
}
#home-button{
    left: 0em;
    color: rgb(54, 53, 53);
    background: rgb(243, 227, 5);
}
#home-button:hover{
    background: rgb(94, 88, 17);
    color: rgb(255, 255, 119);
}
footer{
    border-top-style: solid;
    border-top-color: rgba(255, 255, 255, 0.253);
    border-top-width: 1px;
    position: absolute;
    background: black;
    width: 100%;
    height: 270px;
    top: 1800px;
    
}
#socialmedia-list{
    font-size: 2em;
    list-style-type: none;
}
#socialmedia-list p{
    color: rgba(255, 255, 255, 0.253);
    font-size: 0.5em;
    margin-top: 15px;
}
#socialmedia-list a:not(.contact-link){
    margin-top: 100px;
    margin-right: 15px;
}
footer,a{
    font-size: 0.9em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.253);
    font-family: 'Montserrat', sans-serif;
}
#socialmedia-links{
    position: absolute;
    margin-left: 22em; 
    bottom: 0;
}

#socialmedia-links,a:hover{
    color: white;
    text-decoration: none;
}
#map{
    border: 3px solid white;
    position: absolute;
    width: 330px;
    height: 270px;
}
#map-div{
    width: 2px;
}
#contact-form{
    position: absolute;
    top: 200px;
    left: 0;
    width: 80%;
    margin-left: 10%;
    background-image: linear-gradient(to right, rgb(35, 48, 117),rgb(90, 88, 218));
    border-radius: 5px;
    z-index: 2;
    font-size: 1.5em;
}
input{
    position: relative;
    width: 80%;
    left: 1.5em;
    margin: 13px;
    height: 40px;
    border-radius: 4px;
    border: none;
    box-shadow: 2px 2px rgb(170, 168, 164);
}
@media only screen and (max-width: 757px){
    html{
        font-size: 70%;
    }
    #hamburger-logo{
        top: 7px;
    }
}
@media only screen and (max-width: 420px){
    html{
        font-size: 0.7em;
    }
    #hamburger-logo{
        top: 8px;
    }
}
@media only screen and (max-width: 757px){
    .change-container{
    top: 80px;
    }
}
@media only screen and (max-width: 420px){
    .change-container{
        top: 100px;
    }
}
@media only screen and (max-width: 420px){
    #hamburger-menu{
        display: block;
    }
    #reg-menu{
        display: none;
    }
}
@media only screen and (max-width: 950px){
    #hamburger-menu{
        display: block;
    }
    #reg-menu{
        display: none;
    }
    #main-div h1{
        margin-top: 184px;
    }
}
@media only screen and (max-width: 757px){
    #train-background{
        display: none;
    }
    #main-div{
        font-size: 0.7em;
    }
}
@media only screen and (max-width: 757px){
    footer{
        font-size: 0.9em;
        height: 200px;
    }
    #map{
        height: 200px;
        width: 200px;
    } 
}
@media only screen and (max-width: 420px){
    footer{
        font-size: 0.8em;
        height: 200px;
    }
    #map{
        height: 200px;
        width: 200px;
        
    } 
}
@media only screen and (max-width: 420px){
    input{
        font-size: 0.8em;
        left: 2em;
    }
}
@media only screen and (max-width: 757px){
    #socialmedia-links{
        margin-left: 17em;
    }
    #socialmedia-list a:not(.contact-link){
        margin-right: 5px;
    }
}
@media only screen and (max-width: 420px){
    #socialmedia-links{
        margin-left: 19em;
    }
}
@media only screen and (max-width: 757px){
    .dr-button button{
        font-size: 1.5em;
    }
    #main-content{
        height: 300px;
    }
    #vl{
        position: absolute;
        border-left: 4px solid white;
        height: 360px;
        top: 370px;  
    }
    .index-text1{
        margin-top: 360px;
    }
    .index-text2{
        margin-top: 360px;
    }
    #references{
        top: 1000px;
    }
    footer{
        top: 1250px;
    }
    #reference-three{
        display: none;
    }
    #reference-one{
        width: 40%;
    }
    #reference-two{
        width: 40%;
        margin-left: 55%;
    }
    
}
@media only screen and (max-width: 420px){
    .dr-button button{
        font-size: 1.5em;
    }
    #main-content{
        height: 300px;
    }
    #reference-two,#reference-three{
        display: none;
    }
    #reference-one{
        width: 90%;
    }
    
}
@media only screen and (max-width: 420px){
    .index-text1{
        margin-left: 5%;
        width: 90%;
        margin-top: 380px;
    }
    .index-text2{
        margin-left: 5%;
        width: 90%;
        margin-top: 1000px;
    }
    #vl{
        display: none;
    }
    footer{
        top: 1900px;
    }
    #references{
        top: 1650px;
    }
    #reference-one{
        margin-left: 5%;
    }
}